body {
  background-image: url(../img/concrete_seamless.png);
}
h1, h3 {
  text-align: center;
}
h1 a {
  font-size: 34px;
  text-decoration: none;
}
img {
  width: 100%;
}
.sites-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.site-detail-container {
  height: 300px;
  margin: 10px;
  padding: 5px;
  width: 30%;
}
.sites-container a {
  text-decoration: none;
}
.site-detail-information {
  height: 100%;
  width: 100%;
}
.site-image {
  height: 100%;
  text-align: center;
  width: 100%;
}
#page-header {
  border-bottom-style: groove;
  padding-bottom: 20px;
}
#page-header a {
  text-decoration: none;
  padding-left: 30px;
}
#page-header a, p {
  color: black;
  font-size: 20px;
  list-style: none;
  text-align: center;
}

/******* SITE DETAIL PAGE *******/
.site-detail-page-container a {
  color: black;
}
.site-partial-image {
  display: block;
  margin-left: 200px;
  margin-top: 20px;
  width: 70%
}
