a {
  text-decoration: underline;
}
a, p, ul {
  color: black;
  font-size: 20px;
  list-style: none;
  text-align: center;
}
h1, h3 {
  text-align: center;
}
.container {
  min-width: 95%;
  padding-top: 10px;
}
.site-detail-container {
  padding: 10px 0 10px 0;
  border-bottom-style: groove;
}
#page-header p {
  padding-top: 5px;
}
