<div class="sites-container col-md-12">
  <div class="site-detail-container" ng-repeat="site in sites" ng-mouseenter="hover=true" ng-mouseleave="hover=false" style="background-color:{{site.tile_background_color}}">
    <a href="#/sites/{{$index}}">
      <div class="site-detail-information" ng-show="!hover" >
        <h1>{{site.name}}</h1>
        <h3>{{site.company}}</h3>
        <h3>{{site.type}}</h3>
      </div>
      <div class="site-image ng-hide" id="site-image-{{$index}}" ng-show="hover">
        <img src="{{site.image}}">
      </div>
    </a>
  </div>
</div>
